body {
    margin: 0px;
    padding: 0px;
  }

/* ANIME - CARDS */
.anime-card {
  width: 150px;
  height: 250px;
  background-color: white;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: sans-serif;
  font-size: 12px;
  align-content: center;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #c5c5c5;
  transition: transform .5s ease-in-out;
}
.anime-card:hover {
  transform: scale(1.05);
}

.anime-card-header {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 1vh;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: sans-serif;
}

.anime-card-img {
  display: flex;
  min-width: 280px;
  min-height: 150px;
  margin: 0px;
}

.img-video {
  display: flex;
  width: 350px;
  height: 250px;
  background-size: cover;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.anime-card-btn {
  min-width: 3vw;
  min-height: 2.3vh;
  background: #f78589;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 13px;
  font-family: sans-serif;
  border: none;
  font-weight: bold;
}

.anime-card-container {
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  min-width: 16.4vw;
  min-height: 15vh;
  font-family: sans-serif;
  grid-auto-flow: row;
  overflow: auto;
  grid-template-areas:
    "anime-card-l1 anime-card-v1"
    "anime-card-l2 anime-card-v2"
    "anime-card-l3 anime-card-v3"
    "anime-card-l4 anime-card-v4"
    "anime-card-l5 anime-card-v5"
    "anime-card-l6 anime-card-v6"
    "anime-card-l7 anime-card-v7";
    border: 1px solid royalblue;
}

.anime-card-l1 {
  grid-area: anime-card-l1;
  border-left: 1px solid #f78589;
}
.anime-card-v1 {
  grid-area: anime-card-v1;
}

.anime-card-l2 {
  grid-area: anime-card-l2;
  border-left: 1px solid #f78589;

}
.anime-card-v2 {
  grid-area: anime-card-v2;
}

.anime-card-l3 {
  grid-area: anime-card-l3;
  border-left: 1px solid #f78589;

}
.anime-card-v3 {
  grid-area: anime-card-v3;
}

.anime-card-l4 {
  grid-area: anime-card-l4;
  border-left: 1px solid #f78589;

}
.anime-card-v4 {
  grid-area: anime-card-v4;
}

.anime-card-l5 {
  grid-area: anime-card-l5;
  border-left: 1px solid #f78589;
}
.anime-card-v5 {
  grid-area: anime-card-v5;
}

.anime-card-l6 {
  grid-area: anime-card-l6;
  border-left: 1px solid #f78589;
}
.anime-card-v6 {
  grid-area: anime-card-v6;
}

.anime-card-l7 {
  grid-area: anime-card-l7;
  border-left: 1px solid #f78589;
}
.anime-card-v7 {
  grid-area: anime-card-v7;
}


/* ScrollBar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #EDEDED;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.anim-card-btn {
  min-width: 7vw;
  min-height: 5vh;
  background: #4E9DCA;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 13px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px #4E9DCA;
}

.account-btn2 {
  background-color: #4E9DCA;
  width: 100px; 
  color: black; 
  border: 1px solid black;
  border-radius: 5px; 
  padding: 10px; 
  font-size: 15px; 
  cursor: pointer;
}

.forgot-password {
  font-family: sans-serif; 
  font-size: 10px;
  cursor: pointer; 
  width: 200px;
  color: #4E9DCA; 
  margin-top: -30px;
  font-weight: bold; 
  text-align: right;
}

.criar-conta {
  color: #4E9DCA;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

.el-novaacc-el {
  width: 350px;
  height: 350px;
  background: white;
  position: relative;
  border-radius: 10px;
  padding-bottom: 5px;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 3px 0px #dddddd;
}

.erro-log {
  font-size: 12px;
  display: none;
  width: 250px;
  color: #ff0000;
  position: absolute;
  font-weight: bold;
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
  padding: 2px;
  border-radius: 4px;
  background-color: #ebb3b3;
  top: 85px;
}

.ver-password {
  width: 20px;
  position: absolute;
  right: 75px;
  top: 175px;
  cursor: pointer;
}

.ver-password2 {
  width: 20px;
  position: absolute;
  right: 75px;
  top: 187px;
  cursor: pointer;
}

.ver-password3 {
  width: 20px;
  position: absolute;
  right: 75px;
  top: 227px;
  cursor: pointer;
}

.sakurax {
  -webkit-text-stroke: 1px rgb(116, 116, 116);
  color: #FFB7C5;
  font-weight: bold;
  font-size: 25px;
  font-family: sans-serif;
  border: 0px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  text-align: center;
  cursor: pointer;
}

.temporada {
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  border: 0px solid red;
  display: flex;
  font-family: sans-serif;
  font-size: 22px;
  color: #b56a4c;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 50px;
  text-align: center;
}

.header-site {
  background-color: white;
  padding: 0px;
  border: 0px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid #ccc;
  flex-direction: row, 
}

.search-icon {
  border: 0px solid red;
  display: flex;
  width: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.search-bar {
  outline: none;
  border-radius: 10px;
  font-size: 14px;
  position: sticky;
  display: flex;
  border: 1px solid #ece8e8;
  height: 5vh;
  background-color: white;
  width: 400px;
  padding-left: 2vw;
  margin-bottom: 2vh;
  margin-top: 2vh
}
.search-bar:hover {
  box-shadow: 0px 0px 3px 0px #c5c5c5;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -100px;
  margin-left: 320px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -100px;
  margin-right: 320px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.el-alerta-el {
  width: 300px;
  height: 200px;
  background: white;
  position: absolute;
  border-radius: 10px;
  padding-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 3px 0px #dddddd;
}

.entrar-conta {
  color: black;
  background-color: #4E9DCA;
  font-size: 15px;
  font-family: sans-serif;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  width: 80px;
  justify-content: center;
  display: flex;
}
.el-container2-el {
  width: 350px;
  height: 350px;
  position: absolute;
  background: white;
  border-radius: 10px;
  padding-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-shadow: 0px 0px 3px 0px #dddddd;
  top: 13%;
}